.product-description {
  text-align: justify;
}

.product-main-image {
  width: 100%;
  height: auto;
}

.product-side-images{
  display: flex;
  flex-direction: column;
  //justify-content: space-between;

  .product-additional-image{
    width: 100%;
    height: auto;
    margin-bottom:1rem;
    cursor: pointer;
  }
}

.product-details-main-row {
  margin-bottom: 2rem;
}

.product-details-description-row {
  margin-top: 2rem;
}