$tile-banner-height: 2rem;

.product-tile-container {

  margin-bottom: 2rem;

  .product-tile {
    border: 2px solid #666;
    border-radius: 5px;
    padding:.5rem;
    position: relative;
    overflow: hidden;

    &.add {
      border: 2px dashed #666;
      align-items: center;
      height: 255px;
      display: flex;
      justify-content: center;
    }

    .product-tile-image {
      width: 100%;
      height: auto;
    }

    .product-tile-banner {
      width:100%;
      height: $tile-banner-height;
      position: absolute;
      bottom: -$tile-banner-height;
      background-color: white;
      text-align: center;
      transition: bottom .25s;
      margin-left: -.5rem;

      .product-tile-name {
        text-decoration: none;
        color: #212529;
        line-height: $tile-banner-height
      }
    }

    &:hover {
      .product-tile-banner {
        bottom: 0;
        box-shadow: -5px 0 10px #333;
      }
    }
  }
}