@import "../global_vars";

.header {
  padding: 1rem 0;
  border-bottom: 2px solid #666;
  height: $header-height;

  .categories-row {
    padding-top: 1rem;

    button {
      width: 100%
    }

    .category-modify-link {
      float:right;
    }
  }

  .heading {
    display: flex;
    align-items: flex-end;

    h1 {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 768px){
    height: auto;
  }
}